*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #efeff2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 1, 92);
}
.calculator{
    width: 300px;
    height: 450px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background: #22252D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    border: 1px solid #000;
}

input {
    margin-left: 15px;
    margin-bottom: 10px;
    text-align: center;
    width: 90%;
    height: 80px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    overflow: hidden;
    color: rgb(255, 255, 255)0;
    background: #fffdfd;
    text-align: right;
    outline: none;
    pointer-events: none;
}


.reset {
    background-color: rgb(175, 10, 10);
    color: white;
}

#operator {
    background-color: rgb(192, 164, 2);
    color: white;
}